<!Doctype html>
<head>
  <meta charset="UTF-8">
  <title>Halftime Report</title>
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.css">
  <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
  <header>
    <div class="top">
      <div class="home">
        <button><a href="/home">Home</a></button>
          <div class="logoff">
            <button><a href="/logout">Logoff</a></button>
          </div>
      </div>
    </div>

    <div class="categories">
      <ul>
        <li><a href="/NCAAB">NCAAB</a></li>
        <li><a href="/NFL">NFL</a></li>
        <li><a href="/NHL">NHL</a></li>
        <li><a href="/MMA">MMA</a></li>
      </ul>
    </div>
  </header>

    <%=yield%>
</body>
</html>


