<!Doctype html>
<head>
  <meta charset="UTF-8">
  <title>Halftime Report</title>
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <header>
    <h1>Haltime Report</h1>

    <div class="home">

    </div>
    <div class="logoff">
      <!-- <button class="button"><a href="/logout">Logoff</a></button> -->
    </div>
    <div class="categories">
        <button class="button"><li><a href="/home">Home</a></li></button>
        <button class="button"><li><a href="/NCAAB">NCAAB</a></li></button>
        <button class="button"><li><a href="/NFL">NFL</a></li></button>
        <button class="button"><li><a href="/NHL">NHL</a></li></button>
        <button class="button"><li><a href="/MMA">MMA</a></li></button>
        <button class="button"><li><a href="/logout">Logoff</a></li></button>
      </ul>
    </div>
  </header>

    <%=yield%>
</body>
</html>


