<form method="POST" action="/<%= @league_name %>">
  <label>Post
    <textarea placeholder="Type your post here." name="post"></textarea>
  </label>
  <label>Tags
    <input type="text" placeholder="Type tags here." name="tags"/>
  </label>
  <label>Photo
    <input type="text" placeholder="Image URL here." name="image_url"/>
  </label>
  <button type="submit" value="submit">Submit</button>
</form>

<form method="POST" action="<%= @post %>">
  <label>Post
    <textarea placeholder="Type your post here." name="post"></textarea>
  </label>
  <button type="submit" value="submit">Reply</button>
</form>
