
<div class="quotes">
  <div class="show_post">
    <span class="author-text"><%= @post["text"] %></span>
    <span class="tag-text"><%= @post["tags"] %></span>
    <img src="<%= @post["image_url"] %>" />
  </div>
</div>
